pkgbase = jamstream-bin
	pkgdesc = Host a short-lived jam server in your own cloud account and play together (desktop app)
	pkgver = 0.1.1beta
	pkgrel = 1
	url = https://sean-reid.github.io/jamstream
	arch = x86_64
	license = MIT OR Apache-2.0
	depends = alsa-lib
	depends = dbus
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libpipewire
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	optdepends = gnome-keyring: store cloud provider credentials in the Secret Service keyring
	optdepends = kwallet: store cloud provider credentials in KWallet
	provides = jamstream-app
	provides = jamstreamd
	conflicts = jamstream-app
	conflicts = jamstreamd
	options = !strip
	options = !debug
	source = jamstream-app-0.1.1beta-x86_64.tar.gz::https://github.com/sean-reid/jamstream/releases/download/v0.1.1-beta/jamstream-app-linux-x86_64.tar.gz
	source = LICENSE-MIT-0.1.1beta::https://raw.githubusercontent.com/sean-reid/jamstream/v0.1.1-beta/LICENSE-MIT
	source = LICENSE-APACHE-0.1.1beta::https://raw.githubusercontent.com/sean-reid/jamstream/v0.1.1-beta/LICENSE-APACHE
	sha256sums = 24d57438c2a5093546e36fdc5307243d4621ae9413dd29335b192a46e90abfdc
	sha256sums = d12dbc3496ed7b8a8d25f3905a8845362f11b2b3213793a2340a0879700ebb66
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = jamstream-bin
